<!--About Section-->
<section class="section" style="background-color: white">
  <div class="container has-text-center">
    <h2 class="h2 has-text-center">About</h2>
    <h4 class="h4">
      Tools I used to make this website, and where you can find more
      information.
    </h4>
    <p class="has-text-center">This site</p>
    <br />
    <div class="has-text-center">
      <div class="buttons has-text-center">
        <a
          href="https://github.com/leabs/CryptoCurrencyDashboard"
          class="button is-primary"
          target="_blank"
          >Github</a
        >
      </div>
    </div>
  </div>
</section>
