<section class="section">
    <div class="container">
    <div class="columns">
      <!--Bitcoin card current price-->
      <div class="column">
        <div class="box bitcoin-box">
          <div class="h3">Bitcoin(BTC) 
            <button class="button is-rounded is-small refresh-button">
              <span class="icon">
                <a style="text-decoration: underline" alt="refesh button" onClick="window.location.reload()">
                  <img src="assets/img/refresh.png" style="height: 16px" alt="refresh" />
                </a>
              </span>
            </button>
          </div>
          <div class="h5">(Price in USD)</div>
          <div id="btc_val" class="h4 kpi-value"></div>
        </div>
      </div>
      <!--Ethereum card current price-->
      <div class="column">
        <div class="box ethereum-box">
          <div class="h3">Ethereum 
            <button class="button is-rounded is-small refresh-button">
              <span class="icon">
                <a style="text-decoration: underline" alt="refesh button" onClick="window.location.reload()">
                  <img src="assets/img/refresh.png" style="height: 16px" alt="refresh" />
                </a>
              </span>
            </button>
          </div>
          <div class="h5">(Price in USD)</div>
          <div id="eth_val" class="h4 kpi-value"></div>
        </div>
      </div>
      <!--Litecoin card current Price-->
      <div class="column">
        <div class="box litecoin-box">
          <div class="h3">Litecoin(LTC) 
            <button class="button is-rounded is-small refresh-button">
              <span class="icon">
                <a style="text-decoration: underline" alt="refesh button" onClick="window.location.reload()">
                  <img src="assets/img/refresh.png" style="height: 16px" alt="refresh" />
                </a>
              </span>
            </button>
          </div>
          <div class="h5">(Price in USD)</div>
          <div id="ltc_val" class="h4 kpi-value"></div>
        </div>
      </div>
    </div>
    
    
    <div class="columns">
      <div class="column">
        <div class="box">
          <div id="chart-container"></div>
        </div>
      </div>
    </div>
  </section>