html {
  background: whitesmoke;
}
.bitcoin-box {
  background-image: url("../img/bitcoin.png");
  /* The image used */
  background-color: #fff;
  /* Used if the image is unavailable */
  height: 150px;
  /* You must set a specified height */
  background-position: 160px;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 230px;
  /* Resize the background image to cover the entire container */
  opacity: 1;
}

.litecoin-box {
  background-image: url("../img/litecoin.png");
  /* The image used */
  background-color: #fff;
  /* Used if the image is unavailable */
  height: 150px;
  /* You must set a specified height */
  background-position: 160px;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 230px;
  /* Resize the background image to cover the entire container */
  opacity: 1;
}

.ethereum-box {
  background-image: url("../img/ethereum.png");
  /* The image used */
  background-color: #fff;
  /* Used if the image is unavailable */
  height: 150px;
  /* You must set a specified height */
  background-position: 160px;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 230px;
  /* Resize the background image to cover the entire container */
  opacity: 1;
}

.has-text-center {
  text-align: center;
}

.refresh-button {
  margin-top: 5px;
}

.rssdog {
  border-color: transparent !important;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
  font-weight: 300 !important;
}
.rssdog td {
  background-color: whitesmoke !important;
  padding-bottom: 16px;
}

.rssdog a {
  text-decoration: underline;
  color: #3273dc !important;
}

.rssdog a:hover {
  color: #363636 !important;
}

.rssdog tr:first-child {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .refresh-button {
    margin-top: 0;
  }
}
